<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main min-h-screen bg-zinc-900 text-white p-10">
        <a href="/" class="text-blue-600 text-sm">go back to home</a>
        <h1 class="bg-zinc-800 p-5 text-3xl rounded-md tracking-tighter my-3"><%= title %></h1>
        <p class="bg-zinc-800 p-5 text-xl rounded-md"> <%= data %></p>
    </div>
</body>
</html>